<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>home</mat-icon>
        Справочники
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>home</mat-icon>
        Destination
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>home</mat-icon>
        Day of the trip
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
    <p>Country</p>
  </mat-expansion-panel>
</mat-accordion>
